body {
  background: #000;
  height: 100vh;
}

.vertical-container {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

#myCanvas {
  display: block;
  border: 5px solid #FFF;
  padding: 0;
  margin: auto;
}
